body {
  font-family: 'Kaushan Script', cursive;
    font-size: 18px;
    line-height: 34px;
    color: #777777;
    background: url("../images/tiny-squares.png");
  }

  * {
    box-sizing: border-box;
  }

  h1,
  h2,
  h3 {
    font-family: 'Kaushan Script', cursive;
    font-weight: 700;
    color: #4aaaa5;
  }
  h1{
    font-size: 30px;
    line-height: 49px;
  }
  h1,
  h2,
  h3,
  p {
    margin-bottom: 20px;
  }
  h3{
      font-size: 22px;
  }

.card-header{
    width: 100%;
    max-width: 960px;
    padding-left: 30px; 
    overflow: auto;
    border: none;
    background-color: #ffffff;
    margin: auto;
    padding: 0 0 0 0;
}
.card{
    border:none;
     
}

#mcontainer-1
{
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
    margin: auto;
    margin-top: 15px
  }

#logo {
    float:left;
    width: 250px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
  }

  nav {
    float: right;
    margin-top: 25px;
  }
  
  nav a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: #999;
    text-decoration: none;
    border-left: 1px solid #efefef;
  }

#about{
    border-bottom: 3px solid #dddddd; 
    font-size: 30px;
    line-height: 49px; 
}


#mcontainer-2
{
    max-width: 960px;
    padding: 30px;
    background: #ffffff;
    border: 1px solid #dddddd;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px
  }

#profile-image{
   float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
  }


  #profile {
    width: 100%;
    max-width: 960px;
    padding: 30px;
    background: #ffffff;
    border: 1px solid #dddddd;
  }


 img {
    width: 248px;  
    height: 225px; 
    border: 0 none;
    opacity: 0.8;
    vertical-align: baseline
}
.game {
    position: absolute;
    bottom: 20px;
    width: 83%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
}
.col-4{
    padding-bottom: 3px;
}
.row2{
    margin-top: 55px;
}

p {
  animation-duration: 3s;
  animation-name: slidein;
  /* font-family: 'Kaushan Script', cursive; */
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 20px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

 #footer{
        padding: 30px 0;
        clear: both;
        font-size: 12px;
        color: #ffffff;
        color: #cccccc;
        text-align: center;
        background: #666666;
        border-top: 8px solid #4aaaa5;
        height: 50px;
 }